html {
  position: relative;
  min-height: 100%;
}

body {
  background: #fbf8f3;
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #FFFFFF;
  line-height: 60px;
}

h1 {
  font-family: "bebas-neue", sans-serif;
}

h1:focus {
  outline: none;
}

h2 {
  color: #00a388;
  font-family: "bebas-neue", sans-serif;
}

.jumbotron {
  background: #00a388;
}

.jumbotron h1 {
  color: #FFFFFF;
  text-shadow: 0 1px 0 #000000;
}

.jumbotron p {
  color: #FFFFFF;
}

.logo {
  padding: 30px 0px 30px 0px;
}

.logo h1{
  display: inline;
}

.logo .glyphicon-pencil{
  font-size: 2em;
  color: #ff6138;
}

.btn-signup {
  color: #FFFFFF;
  background: #ff6138;
  border: 1px solid #fd4d20;
}

.btn-signup:hover {
  color: #FFFFFF;
  background: #fd4d20;
  border: 1px solid #ff4317;
}

.icon-container {
  text-align: center;
}

.icon-container .glyphicon{
  background: #FFFFFF;
  color: #00a388;
  padding: 20px;
  border-radius: 70px;
  border: 3px solid #00a388;
  font-size: 6em;
}

.navbar-custom {
  background: #00a388;
  color: #FFFFFF;
  border-radius: 0;
  margin-right: 0;
}

.navbar a {
  color: #BEEB9F;
}

.navbar-header a {
  color: #FFFFFF;
  font-family: "bebas-neue", sans-serif;
}

.navbar-header a:hover {
  color: #BEEB9F;
}

.settings-link {
  color: #FFFFFF !important;
  padding: 5px;
}
.settings-link:hover {
  cursor: pointer;
  color: #BEEB9F !important;
}

.login-box {
  padding: 20px;
  border-radius: 6px;
  border: 1px solid #BEEB9F;
  background: #FFFFFF;
}

.login-box .input-group {
  margin-bottom: 20px;
}

.thumbnail .glyphicon{
  font-size: 6em;
  margin: auto;
}

.ta-toolbar {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #BEEB9F;
  background: #FFFFFF;
}

.editor-text {
  background: #FFFFFF;
  margin-bottom: 20px;
  margin-top: 15px;
  min-height: 300px;
  height: auto;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
}

.editor-text:focus {
  background: red;
  /*box-shadow: 0 1px 10px #222;*/
}

.document-controls {
  margin-bottom: 10px;
  overflow: hidden;
}