<nav class="navbar navbar-custom" ng-controller="NavController">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/#/dashboard">Hack Reditor
        </a>
      </div>
      <div class="navbar-right">
      <button type="button" class="btn btn-default navbar-btn" ng-click="create()">Write</button>
      <p class="navbar-text">Signed in as <a href="/#/" class="navbar-link">Reid Greer</a>
       | <a class="settings-link" ng-click="logout()"><span class="glyphicon glyphicon-cog"></span></a>
      </p>
      </div>
    </div>
  </nav>