<div ng-include="'app/partials/nav.html'"></div> 
<div class="container">
<div ng-repeat="document in documents">
<div class="col-sm-6 col-md-4 col-lg-3">
  <div class="thumbnail">
    <span class="glyphicon glyphicon-file"></span>
    <div class="caption">
      <h3>{{document.title}}</h3>
      <p>{{document.desc}}</p>
      <p><button ng-click="edit(document.id)" class="btn btn-success" role="button">Edit</button> <button href="#" class="btn btn-default" role="button">View</button></p>
    </div>
  </div>
  </div>
</div>
</div>